<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @employer.name %></h1>
    <p>
      Someone have requested verification token for the following email-id: <%= @employer.email%>
      
      To verify the email, kindly enter this verification token in the required field <br>
      
      
      <h3>Token : <%= @unique_token%></h3>
      
    </p>
    <p>
      To login to the site, just follow this link: .
    </p>
    <p>Thanks Employer Portal Team</p>
  </body>
</html>